.profile-container {
  padding: 25px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.profile-title {
  text-align: center;
  font-size: 32px;
  color: #2c4a4a;
  margin-bottom: 5px;
}

/* Welcome */
.welcome-text {
  text-align: center;
  font-size: 20px;
  color: #4b7b79;
  margin-bottom: 25px;
}

.welcome-text span {
  font-weight: 600;
  color: #2c4a4a;
}


.profile-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profile-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #d9f3ef;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.profile-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  background: #fafffd;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  max-width: 360px;
  margin: 0 auto;
}

.profile-card h2 {
  color: #2c4a4a;
  margin-bottom: 15px;
}


.profile-form input {
  width: 100%;
  padding: 12px;
  margin: 7px 0;
  border-radius: 10px;
  border: 1px solid #cdebe4;
  background: #f4fcfa;
  font-size: 16px;
}

.profile-form input:focus {
  border-color: #7bcac2;
  box-shadow: 0 0 6px rgba(123, 202, 194, 0.4);
  outline: none;
}


.update-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  background: #7bcac2;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.update-btn:hover {
  background: #68b6af;
}

.delete-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: #e16363;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-btn:hover {
  background: #cc5252;
}


.reports-section {
  margin-top: 40px;
}

.report-card {
  background: white;
  padding: 18px;
  border-radius: 16px;
  border: 1px solid #dff3ef;
  margin-top: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
}
